absl-py @ file:///C:/b/abs_14wchyjaia/croot/absl-py_1714140489450/work
annotated-types @ file:///C:/b/abs_0dmaoyhhj3/croot/annotated-types_1709542968311/work
anyio==4.11.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
attrs==25.4.0
babel==2.17.0
beautifulsoup4==4.14.2
bertopic==0.17.3
bleach==6.2.0
blinker @ file:///C:/b/abs_b1i87khtob/croot/blinker_1737448732095/work
blis @ file:///C:/b/abs_0asxckc55t/croot/cython-blis_1684139877472/work
brotlicffi @ file:///C:/b/abs_f4lixvzmxt/croot/brotlicffi_1736183286104/work
catalogue @ file:///C:/b/abs_0d918n68qi/croot/catalogue_1703688198988/work
certifi @ file:///C:/miniconda3/conda-bld/certifi_1759786076112/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1760098052251/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///C:/b/abs_bbg7qqz4dk/croot/click_1754477951021/work
cloudpathlib @ file:///C:/b/abs_049y1lewoy/croot/cloudpathlib_1704812313028/work
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
comm==0.2.3
confection @ file:///C:/b/abs_c7k0lrp401/croot/confection_1750277652922/work
contourpy @ file:///C:/b/abs_f2u2o_8s9g/croot/contourpy_1732540071787/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem @ file:///C:/miniconda3/conda-bld/cymem_1756984401716/work
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
exceptiongroup==1.3.0
executing==2.2.1
fastjsonschema==2.21.2
filelock @ file:///C:/b/abs_758187j281/croot/filelock_1744281404850/work
Flask @ file:///C:/b/abs_28dbmjidmh/croot/flask_1756453142071/work
flatbuffers @ file:///C:/b/abs_7f2_85svxz/croot/python-flatbuffers_1722369110965/work
fonttools @ file:///C:/miniconda3/conda-bld/fonttools_1759754888458/work
fqdn==1.5.1
fsspec @ file:///C:/b/abs_d96o6pr6pp/croot/fsspec_1753796011602/work
gast @ file:///croot/gast_1752670701094/work
gensim @ file:///C:/b/abs_efsh9stgvi/croot/gensim_1725376635600/work
gmpy2 @ file:///C:/b/abs_d8ki0o0h97/croot/gmpy2_1738085498525/work
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
grpcio @ file:///C:/b/abs_98_4ysdoqy/croot/grpc-split_1742490255707/work
h11==0.16.0
h5py @ file:///C:/b/abs_29off2a8q5/croot/h5py_1750863017528/work
hdbscan==0.8.40
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
importlib_metadata @ file:///C:/b/abs_9d0lp1ysmt/croot/importlib_metadata-suite_1732633510972/work
ipykernel==7.0.1
ipython==8.37.0
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous @ file:///C:/b/abs_c4vwgdr5yn/croot/itsdangerous_1716533399914/work
jedi==0.19.2
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
joblib @ file:///C:/miniconda3/conda-bld/joblib_1757926370033/work
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.15
keras @ file:///C:/b/abs_cfe4d9eq3r/croot/keras_1755876408114/work
kiwisolver @ file:///C:/b/abs_faf90xet7a/croot/kiwisolver_1737040915779/work
langcodes @ file:///C:/miniconda3/conda-bld/langcodes_1757574815572/work
language_data @ file:///C:/miniconda3/conda-bld/language-data_1757509293487/work
lark==1.3.0
libclang==18.1.1
llvmlite==0.45.1
marisa-trie @ file:///C:/miniconda3/conda-bld/marisa-trie_1757503592228/work
Markdown @ file:///C:/b/abs_98lv_ucina/croot/markdown_1671541919225/work
markdown-it-py @ file:///C:/b/abs_3espcrdl35/croot/markdown-it-py_1756299213703/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.10.6
matplotlib-inline==0.2.1
mdurl @ file:///C:/miniconda3/conda-bld/mdurl_1758552284437/work
mistune==3.1.4
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
ml-dtypes==0.3.2
mpi4py @ file:///C:/b/abs_2c72fs0pz9/croot/mpi4py_1749458512296/work
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
murmurhash @ file:///C:/b/abs_f1_1p5yg6_/croot/murmurhash_1741707831116/work
namex @ file:///C:/b/abs_f24baqjtyf/croot/namex_1755731464284/work
narwhals==2.9.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx @ file:///C:/b/abs_b054htfn9t/croot/networkx_1737043671910/work
nltk @ file:///C:/miniconda3/conda-bld/nltk_1761121234467/work
notebook==7.4.7
notebook_shim==0.2.4
numba==0.62.1
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp310-cp310-win_amd64.whl#sha256=ebb5aa2b36d8afa5ec3231c19e5a1fc75b6d85e7db483f0fb9e77dad58469977
opencv-python==4.11.0.86
opentelemetry-api @ file:///C:/miniconda3/conda-bld/opentelemetry-api_1758531023059/work
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
optree @ file:///C:/b/abs_bci6vc6cm2/croot/optree_1742210211336/work
overrides==7.7.0
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049101700/work
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
platformdirs==4.5.0
plotly==6.3.1
preshed @ file:///C:/b/abs_dbt07m3xto/croot/preshed_1745242591660/work
prometheus_client==0.23.1
prompt_toolkit==3.0.52
protobuf==4.25.8
psutil==7.1.1
pure_eval==0.2.3
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496059965/work
pydantic @ file:///C:/miniconda3/conda-bld/pydantic_1760697505588/work
pydantic_core @ file:///C:/miniconda3/conda-bld/pydantic-core_1760597939616/work
Pygments @ file:///C:/b/abs_e4bg5vh5j_/croot/pygments_1744667628203/work
pynndescent==0.5.13
pyparsing @ file:///C:/b/abs_40z8gyj9wi/croot/pyparsing_1731445739241/work
PyQt6==6.9.1
PyQt6_sip @ file:///C:/miniconda3/conda-bld/pyqt-split_1757511038965/work/pyqt_sip
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-json-logger==4.0.0
pytz==2025.2
pywinpty==3.0.2
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
regex @ file:///C:/miniconda3/conda-bld/regex_1758887965078/work
requests @ file:///C:/b/abs_f53smfvswb/croot/requests_1756709376206/work
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich @ file:///C:/b/abs_8b92fzmygg/croot/rich_1732638991774/work
rpds-py==0.28.0
safetensors==0.6.2
Sastrawi==1.0.1
scikit-learn @ file:///C:/miniconda3/conda-bld/scikit-learn_1758619688314/work
scipy @ file:///C:/Users/dev-admin/cr_scipy-feedstock/scipy_1733782725636/work/dist/scipy-1.13.1-cp310-cp310-win_amd64.whl#sha256=fd76e5a14ae7e66d4f64d41d9eea35679c89a5ff1e5050c7a8a6b197b322e141
seaborn==0.13.2
Send2Trash==1.8.3
sentence-transformers==5.1.2
shellingham @ file:///C:/b/abs_c3l_fe1lnk/croot/shellingham_1669142179061/work
sip @ file:///C:/b/abs_f6ow8vlbb7/croot/sip_1756224172742/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
smart-open @ file:///C:/ci/smart_open_1651235038100/work
sniffio==1.3.1
soupsieve==2.8
spacy @ file:///C:/b/abs_2cxswghzwz/croot/spacy_1704840136870/work
spacy-legacy @ file:///C:/b/abs_03fuap2pri/croot/spacy-legacy_1684141127990/work
spacy-loggers @ file:///C:/b/abs_d6x_m5j2nj/croot/spacy-loggers_1684139141178/work
srsly @ file:///C:/b/abs_610qoxca56/croot/srsly_1741858013545/work
stack-data==0.6.3
sympy @ file:///C:/b/abs_f1v7nwa6vp/croot/sympy_1756713483242/work
tensorboard==2.16.2
tensorboard_data_server @ file:///C:/b/abs_96oxnengxy/croot/tensorboard-data-server_1724172563443/work/tensorboard_data_server-0.7.0-py3-none-any.whl#sha256=66dfd1b34908ae03d65ceae571453e83dc0b6d58a5f1af436e86e0bda20a01cb
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_cpu==2.19.1
termcolor @ file:///C:/b/abs_16qe7jhw7n/croot/termcolor_1668084642458/work
terminado==0.18.1
tf_keras==2.20.1
thinc @ file:///C:/b/abs_38p52jovpi/croot/thinc_1704704013028/work
threadpoolctl @ file:///C:/b/abs_def0dwqlft/croot/threadpoolctl_1719407816649/work
tinycss2==1.4.0
tokenizers==0.22.1
tomli @ file:///C:/b/abs_88e598m6o8/croot/tomli_1753774604115/work
torch==2.6.0
tornado @ file:///C:/b/abs_7dzpc171lf/croot/tornado_1748956950306/work
tqdm @ file:///C:/b/abs_0eh9b6xugj/croot/tqdm_1738945553987/work
traitlets==5.14.3
transformers==4.57.1
typer @ file:///C:/b/abs_2bk0z16lq1/croot/typer_1684251920157/work
typing-inspection @ file:///C:/miniconda3/conda-bld/typing-inspection_1760614192776/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata==2025.2
umap-learn==0.5.9.post2
uri-template==1.3.0
urllib3 @ file:///C:/b/abs_393g1ayee_/croot/urllib3_1750775481226/work
wasabi @ file:///C:/miniconda3/conda-bld/wasabi_1757345818945/work
wcwidth==0.2.14
weasel @ file:///C:/b/abs_a2eodvola9/croot/weasel_1704815815095/work
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.9.0
Werkzeug @ file:///C:/b/abs_c7bupijx2_/croot/werkzeug_1737448709012/work
widgetsnbextension==4.0.14
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
wordcloud==1.9.4
wrapt @ file:///C:/b/abs_68gzx33lzh/croot/wrapt_1736543196433/work
zipp @ file:///C:/b/abs_2fcpcg89my/croot/zipp_1732630746332/work
